<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SoFast!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<% if(!started) {%>
		<link rel="stylesheet" type="text/css" href="/stylesheets/start.css">
	<%} else {%>
		<link rel="stylesheet" type="text/css" href="/stylesheets/started.css">
	<%}%>
</head>

<body>
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<%- include('header.ejs'); %>
				<% if(!started) {%>
					<%- include('start.ejs'); %>
				<% } else{ %>
					<%- include('started.ejs'); %>
				<% } %>
				<%- include('bottom.ejs'); %>	 
			</div>
		</div>
	</div>
	
	
	<!-- JS SCRIPT -->
	<script src="/js/ejs.js"></script>
	<% if(started) {%>
		<script src= "/js/socket.io.js"></script>
		<script src= "/js/socket.io-file-client.js"></script>
		<script src="/js/started.js"></script>
		<script src="/js/socket-client.js"></script>
		<script src="/js/subtitle.js"></script>
	<%}%>
</body>

</html>