<div id="Header-Subtitle-Box">
	<div id="Subtitle">
		<span>Upload your files here!</span>
	</div>
	<div id='LinkBox'>
		<button id='clipboard' onclick="copyToClipboard()">Share your link: copy to clipboard!</span>
	</div>
</div>

<div id="FilesBox">
	<ul id="fList"></ul>
</div>
<div id="UploadBox">
	<input id="fUpload" type="file" multiple>
</div>


<!-- JS SCRIPT -->
<script src= "/js/socket.io.js"></script>
<script src= "/js/socket.io-file-client.js"></script>
<script src="/js/started.js"></script>
<script src="/js/socket-client.js"></script>
<script src="/js/subtitle.js"></script>