<div class='Start'>
	<div class="carousel">
		<div class="button left">
			<i class="fa fa-caret-left"></i>
		</div>
		<div class="content">
			cacca
		</div>
		<div class="button right">
			<i class="fa fa-caret-right"></i>
		</div>
	</div>
	<div class="button-box">
		<button onclick="location.href='/start'" class="StartButton">Start sharing!</button>
	</div>
</div>