<div class='Start'>
	<div class="container">
		<div class="row">
			<div class="image">
				<img src="/images/home.png">
			</div>
			<div class="description">
				<span>Create a room and share the link with your firends!</span>
			</div>
		</div>
		<div class="row">
			<div class="image">
				<img src="/images/send.png">
			</div>
			<div class="description">
				<span>Exchange all type of files</span>
			</div>
		</div>
		<div class="row">
			<div class="image">
				<img src="/images/time.png">
			</div>
			<div class="description">
				<span>Room with files lasts up to 1 day</span>
			</div>
		</div>
	</div>
	<div class="button-box">
		<a href='/start' class="StartButton">Start sharing!<span style="font-style: normal;">🚀</span></a>
	</div>
</div>