<div class="started">
	<div class="SubtitleBox">
		<div class="Subtitle">
			<span>Upload your files here!</span>
		</div>
		<div class='ShareLink'>
			<button id='clipboard' onclick="copyToClipboard()"><i class="fas fa-link"></i> copy link to clipboard!</span>
		</div>
	</div>

	<div id="fList" class="FilesBox">
		<div id="noFiles">
			<div class="image">
				<img src="/images/empty.png">
			</div>
			<div class="description">
				<span>There are no files here yet :(</span>
			</div>
		</div>
	</div>
	<div id="UploadBox">
		<label class="custom-file-upload">
    		Upload Files!
			<input id="fUpload" type="file" multiple>
		</label>
	</div>
</div>