@media only screen and (max-width: 768px) {
	#FilesBox{
		flex-grow: 1;
	}
}

#UploadBox{
	margin: 1%;
}

ul {
	list-style: none outside none;
	padding:0;
}

i {
	padding-right: 2%;
}

li {
	padding: 1%;
}

li:hover{
	cursor:pointer;
	background-color: #e8e8e8;
}

.delete {
	padding-left: 2%;
	font-size: 100%;
	color: #c40000;
}

.delete:hover{
	cursor:pointer;
	color: #fc3c3c;
}

.download {
	padding-left: 2%;
	font-size: 100%;
	color: #008c46;
}

.download:hover{
	cursor:pointer;
	color: #00b95c;
}