.Start{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border-right: 0.15em solid black;
	border-left: 0.15em solid black;
}

.row{
	flex: 1 100%;
	padding: 2em;
}

.image {
	text-align: center;
}

img{
	max-width: 8em;
}

.description{
	text-align: center;
	font-weight: 300;
	font-style: italic;
	font-size: 1em;
}

.StartButton{
	display: inline-block;
	width: 100%;
	color: whitesmoke;;
	font-size: 1.5em;
	font-weight: 500;
	font-style: italic;
	text-decoration: none;
	text-align: center;
	padding: 0.7em;
	background-image: linear-gradient(to left bottom, #4cb128, #3eb13a, #2fb149, #1eb157, #00b063);
}

@media only screen and (max-width: 768px){
	.Start {
		height: 100%;
		width: 100%;
	}

	.container{
		height: 100%;
		width: 100%;
	}

	.row{
		padding: 0;
	}
}